*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wood{

    padding: 20px 2vw;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/wood-floor.webp);
}

.street-rug{
    position: relative;
    max-width: max-content;
    display: block;
    margin: auto;

}
.street-rug>img{
    max-width: 100%;
    max-height: 90vh;
}

.control{
    position: absolute;
    top: 0;
    max-width: max-content;
    max-height: max-content;
}
.control img{
    max-width: 100%;
    box-shadow: 2px 2px 5px rgba(27, 27, 27, 0.9);
}

select{
    background-color: black;
    color: white;
    padding: 5px;
}
option{
    padding: 5px;
}